Flask==3.1.2
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
python-dotenv==1.2.2
gunicorn==26.0.0
psycopg2-binary==2.9.12
redis==7.4.0
Flask-Limiter[redis]==3.10.1
APScheduler==3.10.4
